#banner{ display: flex; min-height: 65vh;
             align-items: center;
         background-color: #ffffff;
         background-image: url(website\ banner.jpg); 
         background-size: 100% 100%;
         background-repeat: no-repeat; 
}

nav { position: fixed; 
      height: 65px; 
	width: 100%; min-width: 50em;
      background-color: #cecece;
}
nav ul { list-style-type: none;
         font-size: 1.5em;
}


footer { background-color: #ffffff;
         font-size:70%;
         text-align: center;
		 padding: 2em;
             padding-right: 8em;
		 clear: both; 
}
